* {box-sizing: border-box;}


h2 {text-align: center;}

#back {background-color: cyan;}

#p1 {
  background-color: #A52A2A;
  padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 200px;
  margin-top: 50px;
  overflow: auto;
  float: left;
  margin-left: 8px
}
#p2 {
  background-color: #DEB887; padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 200px;
  margin-top: 50px;
  overflow: auto;
  float: left;
  margin-left: 8px
}
#p3 {
  background-color: #5F9EA0;
  padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 200px;
  margin-top: 50px;
  overflow: auto;
  float: left;
  margin-left: 8px
}
#p4 {
  background-color: #FF7F50;
  padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 200px;
  margin-top: 50px;
  overflow: auto;
  float: left;
  margin-left: 8px
}

footer {clear: left;
  }
